/* .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 19rem;
  height: 19rem;
  overflow: hidden;
  object-fit: cover;
  border-radius: 1.5rem;
} */